---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'DINGO!',
  ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>
  
  <div class="mt-28 mb-8">
    <!-- Hero Widget ******************* -->
    
    <Hero
      actions={[
        {
          variant: 'primary',
          text: 'Play now!', href: 'https://dingoapp.io', 
          target: '_blank',
        },
        { 
          variant: 'secondary',
          text: 'Download',
          href: '/download',
          icon: 'tabler:download',
        },
      ]}
      image={{ src: '/src/assets/images/hero.png', alt: 'Three kinds of Apple devices, all displaying the DINGO! app', class:"mt-12" }}
    >
      <Fragment slot="title">
        A
        <span class="bg-gradient-to-r from-violet-600 to-fuchsia-700 dark:bg-gradient-to-r dark:from-purple-500 dark:to-fuchsia-500 text-transparent bg-clip-text">new</span>
         way to play
        <span class="bg-gradient-to-r from-violet-600 to-fuchsia-700 dark:bg-gradient-to-r dark:from-purple-500 dark:to-fuchsia-500 text-transparent bg-clip-text">D</span>eaf 
        B<span class="bg-gradient-to-r from-violet-600 to-fuchsia-700 dark:bg-gradient-to-r dark:from-purple-500 dark:to-fuchsia-500 text-transparent bg-clip-text">ingo</span>
      </Fragment>
  
      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          <span class="text-violet-700 dark:text-fuchsia-400 bg-clip-text font-bold">DINGO!</span> is a free & modern app to use for your Deaf Bingo games.</span
        >
        <br />
        <span class="text-black dark:text-fuchsia-400 block mb-1 sm:hidden font-bold ">DINGO! is free & accessible. </span>
        <span class="font-semibold text-lg">Created by the Deaf, for the Deaf</span>
      </Fragment>
    </Hero>
    
  <div class="my-16">
  <!--  just a spacer-->
  </div>
  
  
    <!-- Features Widget *************** -->
  
    <Features
      id="features"
      tagline="Features"
      title="Making DINGO fun again."
      subtitle="A staple in the Deaf community all over the nation, DINGO is a game played by several clubs and organizations. However, the very few software that exist for this game are now obsolete and defunct.<br /><br /> <strong>We intend to keep DINGO alive through modern web technologies.</strong>"
      items={[
        {
          title: 'Deaf ecosystem',
          description:
            'Developing and maintaining a DINGO software that addresses the modern needs of the Deaf community, by a member of their own.',
          icon: 'tabler:hand-rock',
        },
        {
          title: 'Device compatibility',
          description:
            'This app is designed to run on any web page, or installed to a computer for offline use if there is no wi-fi access.',
          icon: 'tabler:devices',
        },
        {
          title: 'Maintenance',
          description:
            'Software developed for the Deaf community is often custom-built and delivered as a one-time project.<br />This application will be continuously supported and updated by the developer as a gesture of respect towards the Deaf community for years to come.',
          icon: 'tabler:list-check',
        },
        {
          title: 'Active feedback',
          description:
            'We welcome feedback and regularly observe our local DINGO games to identify opportunities for improving the app.<br />Our goal is to continuously improve and ensure that everyone can fully enjoy the games.',
          icon: 'tabler:message-chatbot',
        },
      ]}
    />
  
  
    <!-- Content Widget **************** -->
  
      <Content
        isReversed
        tagline="customization"
        title="Change your style!"
        items={[
          {
            title: 'Projector friendly',
            icon: 'tabler:check',
            description:
              'The "White" background theme allows maximum visibility out of a projector when using in limited or poor lighting conditions.',
          },
          {
            title: 'Accessible',
            icon: 'tabler:check',
            description:
              'The interface emphasizes simple design languages, avoiding clutter and improving visibility.',
          },
        ]}
        image={{
          src: '/src/assets/images/template-reel.mp4',
          alt: 'A video showcasing all dingo themes',
        }}
      >
        <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Choose from a variety of color themes</h3>
           Don't limit yourself to the same look for every game. Try out a selection of background themes and card backs.
        </Fragment>
    
        <Fragment slot="bg">
          <div class="absolute inset-0 bg-gradient-to-br from-neutral-200 to-violet-300 dark:bg-none "></div>
        </Fragment>
      </Content>
  
  
    <!-- HighlightedPosts Widget ******* -->
  
    <BlogLatestPosts
      title="Recent updates"
      information={`Follow the development blog of the DINGO! app here.`}
    />
  
    <!-- CallToAction Widget *********** -->
  
    <CallToAction
      actions={[
        {
          variant: 'primary',
          text: 'Make a donation',
          href: 'https://ko-fi.com/chanbrown',
          target: '_blank',
          icon: '',
        },
      ]}
    >
      <Fragment slot="title">
        🤟🏽this app?<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Support us!</span>
      </Fragment>
  
      <Fragment slot="subtitle">
        The app will always be free, but coffee isn't! 🥤
      </Fragment>
    </CallToAction>
  </div>
</Layout>
